<div class="container">
    <h2 class="my-2">Users</h2>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Email</th>
                <th scope="col">Full Name</th>
                <th scope="col">Phone Number</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{user.id}}</td>
                <td>
                    <a [routerLink]="['/users', user.id, 'tasklist']">
                        {{user.fullname}}</a>
                </td>
                <td>{{user.email}}</td>
                <td>{{user.mobile}}</td>
            </tr>
        </tbody>
    </table>
</div>